<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="#">Stereotyper</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/information">Informationen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newquestion">Frage einreichen</a>
                </li>
            </ul>
        </div>
    </nav>
    <br /> <br />
    <div style="text-align:center;" class="jumbotron">
        <h1>Vielen Dank!</h1>
        <p>Wir werden deine Frage einsehen.</p>
        <br />
        <p>
            <a class="btn btn-lg btn-primary" ui-sref="login" ui-sref-active="active" role="button">Home &raquo;</a>
        </p>
    </div>
</div>


</div>
