<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="#">Stereotyper</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/information">Informationen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newquestion">Frage einreichen</a>
                </li>
            </ul>
        </div>
    </nav>
    <br /> <br />
    <div class="jumbotron">
        <h1>Informationen</h1>
        <p>Dieses Projekt wurde im Rahmen von Jugend Hackt 2016 entwickelt.</p>
        <p>Links:</p>
        <br />
        <div class="btn-group">
            <a href="https://hackdash.org/projects/5802310dd9284f016c04768b" class="btn btn-primary" role="button">Hackdash</a>
            <a href="https://github.com/Jugendhackt/Stereotyper" class="btn btn-primary" role="button">Github</a>
            <a href="https://jugendhackt.de" class="btn btn-primary" role="button">Jugend Hackt</a>

        </div>
    </div>
</div>

</div>