<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragen</title>
</head>
<body>
  <div class="container">
      <nav class="navbar navbar-light bg-faded">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
              &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="navbar-header">
              <a class="navbar-brand" href="#">Stereotyper</a>
              <ul class="nav navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Informationen</a>
                  </li>
              </ul>
          </div>
      </nav>
      <br /> <br />
      <div class="jumbotron">
          <h1>Fragen</h1>
          <p>Bitte beantworte die folgenden Fragen so ehrlich wie möglich. Viel Spaß!</p>
          <div class="input-group">

              <h2>Wie stehst du zu xyz?</h2>

          </div> <br />
          <table>
            <tr>
          <td><p>
              <a ui-sref="question2" class="btn btn-lg btn-primary" ui-sref="hello" ui-sref-active="active" role="button">Ja &raquo;   </a>         </p></td>
          <td> <p>
              <a ui-sref="question2" class="btn btn-lg btn-primary" ui-sref="hello" ui-sref-active="active" role="button">Nein &raquo;</a>
          </p></td>
          <td> <p>
              <a ui-sref="question2" class="btn btn-lg btn-primary" ui-sref="hello" ui-sref-active="active" role="button">Überspringen &raquo;</a>
          </p></td>
        </tr>
        </table>
      </div>
      </div>

      <footer class="footer">
          <div class="container">
              <span class="text-muted">Copyright 2016 The Stereotyper Team</span>
          </div>
      </footer>
  </div>



</body>
</html>
